{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
        <div class="d-flex profile-banner">
            <div class="media d-flex">
                <img class="rounded-circle account-img" src="{{ user_profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ username }}</h2>
                </div>
            </div>
            <div class="d-flex user-posts-comments">
                <a href="{% url 'user-posts' username %}">Posts</a>
                <a href="{% url 'user-comments' username %}">Comments</a>
            </div>
        </div>
  </div>
{% endblock content%}
